################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OutrunSharp/bin
/OutrunSharp/obj
/OutrunSharp/CurrentCommit.txt
