################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rerun/bin
/Rerun/obj
/Rerun/CurrentCommit.txt
